*,div,ul,li,p,span{
  font-size: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微软雅黑;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
/* -------------------------@gropu page structure 页面结构--------------*/
.page-box{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.deep-background{
  background-color: #2c3130;
  width: 100%;
}

.container{
  margin: 0 auto;
  padding: 0;
}
.inner-nav {
  font-size: 20px;
  margin-top: 30px;
}
.inner-nav a{
  font-size: 20px;
}
/*----Nav---*/
.header{
  height: 120px;
  z-index: 1;
  top: 0;
  position: relative;
}
.header .logo{
  display: inline-block;
  background: url("../img/logo.png") no-repeat center;
  width: 196px;
  height: 120px;
}
.header ul{
  position: absolute;
  color: #fff;
}
.header li{
  cursor: pointer;
}
.header .login-register li,
.header .ch-en li{
  line-height: 32px;
  font-size: 12px;
}
.header .login-register li{
  margin: 0 4px;
}
.header .ch-en{
  right: 0;
  top: 0;
}
.header .login-register{
 top:0;
  right: 80px;
}
.header .nav{
  top:36px;
  right: 0;
}
.header .nav a{
  line-height: 82px;
  font-size: 16px;
  color: #ffffff;
  display: block;
}
.header .nav a.active{
  color: #de7332;
  border-bottom: 1px solid #de7332;
}
.nav-tabs > li > a:hover {
  color: #de7332;
  border-color: transparent;
  border-bottom: 1px solid #de7332;

}
.nav > li > a{
  padding: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  color: #de7332;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #de7332;
}
.nav-tabs {
  border-bottom: none;
}
/*二级菜单*/
.dropdown-nav{
  z-index: 1;
  width: 100%;
  position: absolute;
  border-top: 2px solid #2c3130;
  display: none;
}
.dropdown-nav a{
  color: #fff;
}
.dropdown-nav a.hover{
  color:#de7332;
}
.about-nav li{
  width: 20%;
  text-align: center;
  line-height: 94px;
}


/*----Nav---*/
/*------Footer-------*/
.footer{
  padding: 80px 0;
}
.footer .footer-list{
  vertical-align: top;
  display: inline-block;
}
.footer .footer-list li{
  display: block;
  line-height: 30px;
}
.footer .footer-list a{
  font-size: 14px;
  color: #fff;
}
.footer .footer-list li:first-child a{
  font-size: 18px;
}
.footer .qr-code{
  background: url("../img/QRcode.png")no-repeat left;
  height: 78px;
}
.footer hr{
  color: #535758;
  margin: 10px 0;
}

.footer .record{
  font-size: 12px;
  color: #fff;
}
/*------Footer-------*/

/*--------Banner-------*/
/*大banner*/
.big-width{
  width: 100%;
  max-width: 1920px;
  min-height: 400px;
}
/*小banner*/
.small-width{
  width: 1920px;
  height: 320px;
}
.carousel-wrap{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.carousel-wrap .slide-ul{
  width: 100%;
  height: 100%;
}
.carousel-wrap li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-wrap img {
  width: 100%;
  height: 100%;
}
.carousel-items {
  position: absolute;
  z-index: 10;
  bottom: 70px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.carousel-items span {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-items .active {
  background-color: #de7433;
}

.list-enter-to {
  transition: all 1s ease;
  transform: translateX(0);
}

.list-leave-active {
  transition: all 1s ease;
  transform: translateX(-100%)
}

.list-enter {
  transform: translateX(100%)
}

.list-leave {
  transform: translateX(0)
}
/*--------Banner-------*/

/*--------产品列表---------*/
.product-list{
  width: 100%;
}
.product-list li>div{
  width: 100%;
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  margin-right: 26px;
  border:1px solid #fff;
  margin-bottom: 30px;
  position: relative;
}
.product-list img{
  width: 100%;
}
.product-list p{
  font-weight: bold;
  color: #5d5d5d;
  margin: 20px 0 10px 0;
}
.product-list .product-buy{
  color: #fff;
  font-size: 16px;
  display: block;
  background: url("../img/bug-bg.png") no-repeat center;
  width: 65px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.product-list li>div:hover{
  border-color: #de7332;
}
.product-list .item-mask{
  position: absolute;
  left: 0;
  top:0;
  display: none;
  width: 278px;
  height: 364px;
  background: rgba(0,0,0,0.6);
  padding-top: 50%;
}
.product-list .item-mask span{
  width: 100%;
  text-align: center;
  display: block;
  color:#de7332;
}
.product-list .item-mask span:first-child{
  font-size: 30px;
}
.product-list .item-mask span:last-child{
  font-size: 18px;
  line-height: 40px;
}
/*--------产品列表---------*/
/*------案例列表--------*/
.case-list{
  width: 100%;
}
.case-list li{
  margin-bottom: 30px;
}
.case-list li>div{
  width: 100%;

}
.case-list li>div>a{
  padding: 20px;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-color: #eee;
  border:1px solid #535758;
}
.case-list p{
  text-align: center;
  color: #5d5d5d;
  margin: 20px 0;
}
.case-list img{
  width: 100%;
}
.case-list li>div>a:hover{
  top: -3px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
  -weikit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
  -zom-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
  height: 102%;
  width: 102%;
  border: 2px solid #de7332;
}
/*------产品案例列表--------*/
/*--------新闻列表---------*/
.news-list{
  width: 100%;
}
.news-list li{

  margin-bottom: 30px;
}
.news-list li a{
  width:100%;
  display: block;
  padding: 30px;
}
.news-list .date{
  font-size: 30px;
  color: #878786;
}
.news-list .date>span{
  font-size: 20px;
  float: right;
}
.news-list .title{
  font-size: 16px;
  color: #5d5d5d;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 20px;
}
.news-list img{
  width: 100%;
}
.news-list .content{
  margin-top: 20px;
  font-size: 16px;
  color: #5d5d5d;
  text-overflow:ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
}
.news-list li a:hover{
  background-color: #fff;
  border: 2px solid #b9b9b9;
  box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.1);
  -weikit-box-shadow:inset 0px 0px 12px 3px rgba(0,0,0,0.1);
  -zom-box-shadow:inset 0px 0px 12px 3px rgba(0,0,0,0.1);
}
/*--------新闻列表---------*/
/*--------------------------------- @group page components  页面组件 ------------*/

/*---首页--------*/
.part-title{
  height: 178px;
  padding-top: 60px;
}
.part-title .part-title-text,
.part-title span{
  font-size: 30px;
  color:#5d5d5d;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}
.part-title .part-title-text span{
  margin: 0 20px;
}

.index-center .index-about{
  position: relative;
}
.index-about .index-about-video{
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  padding: 10px;
  vertical-align: top;
}
.index-about-text p{
  display: block;
  display: -webkit-box;
  line-height: 28px;
  color:#3d3d3d;
  overflow: hidden;
  text-indent: 40px;
  text-overflow:ellipsis;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  margin-bottom: 30px;
}
.more-btn{
  display: block;
  line-height: 30px;
  width: 120px;
  text-align: center;
  height: 30px;
  border: 1px solid #de7332;
  font-size: 20px;
  color: #de7332;
  margin-left: 10px;
}
.index-map{
  width: 100%;
}
.index-map img{
  width: 100%;
}
.index-product{
  background-color: #eff7f7;
}
.index-news{
  width: 100%;
  background-color: #eff7f7;
  padding-bottom: 60px;
}
.index-partner{
  padding-top: 60px;
}
.index-partner p{
  color:#5d5d5d;
  text-align: center;
}
.index-partner .title{
  font-size: 30px;
}
.index-partner .description{
  font-size: 20px;
  margin: 30px 0 80px;
}

.padding-bo-60{
  padding-bottom: 60px;
}

.partner-list li{
  height: 110px;
  width: 25%;
  background: no-repeat center;
  background-size: auto;
}
.partner-list .partner-1{
  background-image: url("../img/partner-1.png");
}
.partner-list .partner-2{
  background-image: url("../img/partner-2.png");
}
.partner-list .partner-3{
  background-image: url("../img/partner-3.png");
}
.partner-list .partner-4{
  background-image: url("../img/partner-4.png");
}
.partner-list .partner-5{
  background-image: url("../img/partner-5.png");
}
.partner-list .partner-6{
  background-image: url("../img/partner-6.png");
}
.partner-list .partner-7{
  background-image: url("../img/partner-7.png");
}
.partner-list .partner-8{
  background-image: url("../img/partner-8.png");
}
/*---首页--------*/
/*---关于我们--------*/
.about-summary{
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.About .about-summary:last-child{
  margin-bottom: 0;
}
.about-summary img{
  width: 100%;
}
.no-bottom{
  margin-bottom: 0;
}
.about-summary .about-title{
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  top: calc(50% - 135px);
  left: calc(50% - 135px);
  text-align: center;
}
.about-summary .about-title p{
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-top: 96px;

}
.about-summary .about-title a{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color:#fff;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.about-summary .survey,
.about-summary .service{
  background-color: #de7332;
}
.about-summary .develop,
.about-summary .certificate{
  background-color: #00a1ea;
}
.about-summary .culture{
  background-color: #fff55b;
}
  /*发展历程*/

/*---关于我们--------*/
/*----------- group   overrrides       ------------*/
@media screen and (min-width:600px) and (max-width:900px){

}

@media only screen and (min-device-width: 1200px){
  .font-size-20{
    font-size: 16px;
  }
  .container{
    width: 1200px;
  }
  .page-box,
  .deep-background{
    min-width: 1200px;
  }
  .nav li{
    margin: 0 30px;
  }
  .dropdown-nav a{
    font-size: 18px;
  }
  /*首页*/
  .index-about-text{
    width: 540px;
    display: inline-block;
  }
  .index-about-video{
    width: 500px;
    margin-left: 160px;
    height: 340px;
    display: inline-block;
  }
  .font-size-16{
    font-size: 16px;
  }

}
@media only screen and (min-device-width: 768px) and  (max-device-width: 1200px) {
  .font-size-20 {
    font-size: 16px;
  }

  .container {
    width: 90%;
    min-width: 760px;
  }

  .page-box,
  .deep-background {
    min-width: 768px;
  }
  .font-size-16{
    font-size: 14px;
  }
  .dropdown-nav a{
   font-size: 16px;
  }
  /*首页*/
  .index-about-text{
    width: 100%;
    padding: 0 10px;
    display: block;
  }
  .index-about-video{
    width: 500px;
    margin: 20px auto;
    height: 340px;
    display: block;
  }
  .nav li{
    margin: 0 16px;
  }

}
@media only screen and (min-device-width: 768px){
  /*产品列表*/
  .product-list li,
  .case-list li{
    width: 25%;
    padding: 12px;
  }
  .news-list li{
    width: 33.33%;
  }
  .footer .footer-list{
    width: 25%;
  }
}

